<div class="panel panel-info">
    <div class="panel-body">
        <form name="visitForm">
            <div class="row">
                <div class="col-md-5" ng-if="data.services">
                    <div class="panel panel-default">
                        <div class="panel-heading">Household Services</div>
                        <div class="panel-body" ng-show="data.household">
                            <table ng-if="data.services" class="table table-condensed" style="margin-top:6px;">
                                <tbody>
                                    <tr ng-repeat="service in data.services" 
                                        ng-form="servicesForm"
                                        ng-show="service.locations.includes(data.serviceLocation)">

                                        <td>
                                            <input class="form-control input-sm" type="checkbox" 
                                                ng-model="service.selected" name="selected"
                                                style="width:50px" ></input>
                                        </td>
                                        <td style="word-wrap: break-word">{{service.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-5" ng-if="data.referrals">
                        <div class="panel panel-default">
                            <div class="panel-heading">Household Referrals</div>
                            <div class="panel-body" ng-show="data.household">
                                <table ng-if="data.referrals" class="table table-condensed" style="margin-top:6px;">
                                    <tbody>
                                        <tr ng-repeat="referral in data.referrals" 
                                            ng-form="referralsForm"
                                            ng-show="referral.locations.includes(data.serviceLocation) && referral.column == 1">

                                            <td>
                                                <input class="form-control input-sm" type="checkbox" 
                                                    ng-model="referral.selected" name="selected"
                                                    style="width:50px" ></input>
                                            </td>
                                            <td style="word-wrap: break-word">{{referral.name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5" ng-if="data.referrals">
                        <div class="panel panel-default">
                            <div class="panel-heading">Household Referrals</div>
                            <div class="panel-body" ng-show="data.household">
                                <table ng-if="data.referrals" class="table table-condensed" style="margin-top:6px;">
                                    <tbody>
                                        <tr ng-repeat="referral in data.referrals" 
                                            ng-form="referralsForm"
                                            ng-show="referral.locations.includes(data.serviceLocation) && referral.column == 2">

                                            <td>
                                                <input class="form-control input-sm" type="checkbox" 
                                                    ng-model="referral.selected" name="selected"
                                                    style="width:50px" ></input>
                                            </td>
                                            <td style="word-wrap: break-word">{{referral.name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>    
    </div>   
</div>
        