<div class="col-md-12" id="checkInBox">
        <form name="visitForm">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Visit Reason
                                </div>
                                <div class="panel-body" ng-show="data.household">
                                    <select ng-model="data.visitType" class="form-control input-sm"
                                        ng-class="{danger: data.visitType = 'Select Option'}"
                                        name="visitType" 
                                        ng-options="g for g in ['Select Option', 'Basic Food Applications', 'Evicition Prevention Screening', 'Ferry Pass', 'Health Plan Finder', 'Housing Intake', 'Landlord Tenant Education', 'Salvation Army Voucher', 'Other']">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5" ng-if="data.commodities">
                            <div class="panel panel-default">
                                <div class="panel-heading">Commodities</div>
                                <div class="panel-body" ng-show="data.household">
                                    <table ng-if="data.commodities" class="table table-condensed" style="margin-top:6px;">
                                            <trs>
                                                <th>Item</th>
                                                <th class="text-center">Available</th>
                                                <th class="text-center">Monthly Limit</th>
                                                <th>Used Today</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="comm in data.commodities" 
                                                ng-class="{danger: !comm.remaining, warning: (comm.remaining > 0 && comm.remaining < comm.monthlyLimit)}"
                                                ng-form="commForm">
                                                
                                                <td>{{comm.name}}</td>
                                                <td class="text-center">{{comm.remaining}}</td>
                                                <td class="text-center">{{comm.monthlyLimit}}</td>
                                                <td>
                                                    <div ng-class="{ 'input-group': true, 'input-group-sm': true, 'has-error': commForm.ptsUsed.$invalid }">
                                                        <input class="form-control input-sm" type="number" 
                                                            ng-model="comm.ptsUsed" min="0" max="{{comm.remaining}}" name="ptsUsed"
                                                            required="required" style="width:50px" ></input>
                                                        <span ng-show="commForm.ptsUsed.$error.required" class="help-block">Enter a number</span>
                                                        <span ng-show="commForm.ptsUsed.$error.min" class="help-block">Cannot be negative</span>
                                                        <span ng-show="commForm.ptsUsed.$error.max" class="help-block">Only {{comm.remaining}} available</span>
                                                        <!--<select class="form-control" ng-model="comm.ptsUsed" 
                                                            ng-options="v for v in rangeFromZeroTo(comm.remaining)" style="height:30px;" ng-disabled="!comm.remaining"></select> -->
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Services
                                </div>
                                <div class="panel-body" ng-show="data.new_services">
                                    <table>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="basicFoodApplications" ng-model="data.new_services.basicFoodApplications"></input>
                                                <label>Basic Food Applications</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="evictionPreventionScreening" ng-model="data.new_services.evictionPreventionScreening"></input>
                                                <label>Evicition Prevention Screening</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="ferryPass" ng-model="data.new_services.ferryPass"></input>
                                                <label>Ferry Pass</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="healthPlanFinder" ng-model="data.new_services.healthPlanFinder"></input>
                                                <label>Health Plan Finder</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="housingIntake" ng-model="data.new_services.housingIntake"></input>
                                                <label>Housing Intake</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="landlordTenantEducation" ng-model="data.new_services.landlordTenantEducation"></input>
                                                <label>Landlord Tenant Education</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="salvationArmyVoucher" ng-model="data.new_services.salvationArmyVoucher"></input>
                                                <label>Salvation Army Voucher</label>
                                            </div>
                                        </td></tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Referrals
                                </div>
                                <div class="panel-body" ng-show="data.new_referrals">
                                    <table>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="adultEducation" ng-model="data.new_referrals.adultEducation"></input>
                                                <label>Adult Education</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="childcare" ng-model="data.new_referrals.childcare"></input>
                                                <label>Childcare</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="coordinatedEntry" ng-model="data.new_referrals.coordinatedEntry"></input>
                                                <label>Coordinated Entry (Island Only)</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="domesticViolenceServices" ng-model="data.new_referrals.domesticViolenceServices"></input>
                                                <label>Domestic Violence Services</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="dshs" ng-model="data.new_referrals.dshs"></input>
                                                <label>DSHS</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="earlyHeadStart" ng-model="data.new_referrals.earlyHeadStart"></input>
                                                <label>Early Head Start</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="emergencyChildCareVoucher" ng-model="data.new_referrals.emergencyChildCareVoucher"></input>
                                                <label>Emergency Child Care Voucher</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="employment" ng-model="data.new_referrals.employment"></input>
                                                <label>Employment</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="energyAssistance" ng-model="data.new_referrals.energyAssistance"></input>
                                                <label>Energy Assistance</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="financialLiteracy" ng-model="data.new_referrals.financialLiteracy"></input>
                                                <label>Financial Literacy</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="foodResources" ng-model="data.new_referrals.foodResources"></input>
                                                <label>Food Resources</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="headStartEceap" ng-model="data.new_referrals.headStartEceap"></input>
                                                <label>Head Start/ECEAP</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="healthcare" ng-model="data.new_referrals.healthcare"></input>
                                                <label>Healthcare</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="homeImprovement" ng-model="data.new_referrals.homeImprovement"></input>
                                                <label>Home Improvement</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="housing" ng-model="data.new_referrals.housing"></input>
                                                <label>Housing</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="kinship" ng-model="data.new_referrals.kinship"></input>
                                                <label>Kinship</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="landlordTenant" ng-model="data.new_referrals.landlordTenant"></input>
                                                <label>Landlord Tenant</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="mentalHealth" ng-model="data.new_referrals.mentalHealth"></input>
                                                <label>Mental Health</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="otherEarlyLearning" ng-model="data.new_referrals.otherEarlyLearning"></input>
                                                <label>Other Early Learning</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="otherLegal" ng-model="data.new_referrals.otherLegal"></input>
                                                <label>Other Legal</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="otherUtility" ng-model="data.new_referrals.otherUtility"></input>
                                                <label>Other Utility</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="seas" ng-model="data.new_referrals.seas"></input>
                                                <label>SEAS</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="veteransServices" ng-model="data.new_referrals.veteranServices"></input>
                                                <label>Veterans Services</label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group">
                                                <input type="checkbox" name="youthPrograms" ng-model="data.new_referrals.youthPrograms"></input>
                                                <label>Youth Programs</label>
                                            </div>
                                        </td></tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </form>    
    </div>
        