<div class="panel" ng-class="{ 'panel-default': !status.editingMembers, 'panel-warning': status.editingMembers }"
    ng-controller="memberListController" >

    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-6">
                Household Members <span ng-if="!status.editingMembers && data.household.totalMembers > 0">({{data.household.totalMembers}})</span>
            </div>
            <div class="col-sm-6 text-right">
                <span class="label label-danger" ng-if="!status.editingMembers && status.proofOfInfantNeeded()"
                    ng-click="editMembers();" style="cursor:pointer;">Proof of Infant Required</span>

                <button class="btn btn-success btn-sm panel-button"
                    ng-click="editMembers();" ng-if="!status.editingMembers"><i class="fa fa-pencil" style="line-height: 1.3em;"></i></button>

                <button class="btn btn-success btn-sm panel-button"
                    ng-click="saveMembers()" ng-if="status.editingMembers"
                    ng-disabled="status.savingMembers">Save</span><i ng-if="status.savingMembers"
                    class="fa fa-refresh fa-spin" style="margin-left:6px;"></i></button>

                <button class="btn btn-sm panel-button"
                    ng-click="cancelMembers();" ng-if="status.editingMembers"
                    ng-disabled="status.savingMembers"><span class="glyphicon glyphicon-remove" style="line-height: 1.3em;"></span></button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-condensed" style="margin-bottom:12px;table-layout: fixed; width: 100%">
            <thead>
                <tr>
                    <th style="width:20%" ng-if="!status.editingMembers">Name</th>
                    <th style="width:10%" ng-if="status.editingMembers">First</th>
                    <th style="width:10%" ng-if="status.editingMembers">Last</th>
                    <th style="width:10%">Birthdate</th>
                    <th style="width:9%">Gender</th>
                    <th style="width:9%">Ethnicity</th>
                    <th style="width:9%">Race</th>
                    <th style="width:9%">Veteran</th>
                    <th style="width:10%">Email</th>
                    <th style="width:10%">Phone</th>
                    <th style="width:9%">In HH</th>
                    <th style="width:5%" ng-if="status.editingMembers"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in data.memberList" >

                    <td style="word-wrap: break-word" ng-if="!status.editingMembers">{{person.memberData.name}}</td>
                    <td style="word-wrap: break-word" ng-if="!status.editingMembers">
                        {{checkBirthdate(person.memberData.birthdate) | date:'M/dd/yyyy'}}</td>
                    <td style="word-wrap: break-word" ng-if="!status.editingMembers">{{person.memberData.gender}}</td>
                    <td style="word-wrap: break-word" ng-if="!status.editingMembers">{{person.memberData.ethnicity}}</td>
                    <td style="word-wrap: break-word" ng-if="!status.editingMembers">{{person.memberData.race}}</td>
                    <td style="word-wrap: break-word" ng-if="!status.editingMembers">{{person.memberData.veteran}}</td>
                    <td style="word-wrap: break-word" ng-if="!status.editingMembers">{{person.memberData.email}}</td>
                    <td style="word-wrap: break-word" ng-if="!status.editingMembers">{{person.memberData.phone}}</td>
                    <td style="word-wrap: break-word" ng-if="!status.editingMembers">{{person.memberData.inhh}}</td>

                    <td ng-if="status.editingMembers">
                        <input ng-model="person.memberDataEditable.firstName" type="text" class="form-control input-sm"
                            name="firstname" ng-setfocus="$last">
                    </td>
                    <td ng-if="status.editingMembers">
                        <input ng-model="person.memberDataEditable.lastName" type="text" class="form-control input-sm"
                            name="lastname" ng-required>
                    </td>
                    <td ng-if="status.editingMembers">
                        <input class="form-control input-sm"
                            type="date"
                            ng-model="person.memberDataEditable.birthdate"
                            placeholder="M/dd/yyyy" min="1900-01-01" required />
                    </td>
                    <td ng-if="status.editingMembers">
                        <select ng-model="person.memberData.gender" class="form-control input-sm"
                            name="gender" ng-options="g for g in ['Male','Female','Other','Unknown/Not Reported']">
                            <option value="">-</option>
                        </select>
                    </td>
                    <td ng-if="status.editingMembers">
                        <select ng-model="person.memberData.ethnicity" class="form-control input-sm"
                            name="ethnicity" ng-options="e for e in ['Hispanic/Latino','Not Hispanic/Latino','Unknown/Not Reported','Refused']">
                            <option value="">-</option>
                        </select>
                    </td>
                    <td ng-if="status.editingMembers">
                        <select ng-model="person.memberData.race" class="form-control input-sm"
                            name="race" ng-options="r for r in ['American Indian/Alaska Native','Asian','Bi/Multi-Racial','Black/African-American','Native Hawaiian/Pacific Islander', 'White', 'Unspecified','Other', 'Unknown/Not Reported']">
                            <option value="">-</option>
                        </select>
                    </td>
                    <td ng-if="status.editingMembers">
                        <select ng-model="person.memberData.veteran" class="form-control input-sm"
                            name="veteran" ng-options="v for v in ['Veteran','Active Military','No Military Service','Unknown/Not Reported']">
                            <option value="">-</option>
                        </select>
                    </td>
                    <td ng-if="status.editingMembers">
                        <input ng-model="person.memberData.email" type="text"
                            class="form-control input-sm" name="email"
                            ng-maxlength="50" ng-required required>
                    </td>
                    <td ng-if="status.editingMembers">
                        <input ng-model="person.memberData.phone" type="text"
                            class="form-control input-sm" name="phone"
                            ng-maxlength="50" ng-required required>
                    </td>
                    <td ng-if="status.editingMembers">
                        <select ng-model="person.memberData.inhh" class="form-control input-sm"
                            name="inhh" ng-options="i for i in ['Yes','No']">
                            <option value="">-</option>
                        </select>
                    </td>

                    <td ng-if="status.editingMembers && data.memberList.length > 1" class="text-right">
                        <button class="btn btn-danger btn-sm"
                            ng-click="deleteMember( $index );"
                            ng-if="status.editingMembers"><i class="fa fa-minus"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <button class="btn btn-success btn-sm panel-button"
                ng-click="addMember()" ng-if="status.editingMembers"
                ng-disabled="status.savingMembers">Add member</span>&nbsp;<i class="fa fa-plus"></i></button>
        </div>
    </div>
</div>
