<div class="panel" ng-class="{ 'panel-default': !status.editingTags, 'panel-warning': status.editingTags }" 
    ng-controller="tagsController">

    <div class="panel-heading" ng-disabled="!data.tagsData.acknowledgeTags && data.tagsData.tags && data.tagsData.tags.length != 0">
        <div class="row">
            <div class="col-sm-6">
                Tags
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn btn-success btn-sm panel-button"
                    ng-disabled="!data.tagsData.acknowledgeTags && data.tagsData.tags && data.tagsData.tags.length != 0"
                    ng-click="editTags();" ng-show="!status.editingTags"><i class="fa fa-pencil" style="line-height: 1.3em;"></i></button>

                <button class="btn btn-success btn-sm panel-button"
                    ng-click="saveTags()" ng-show="status.editingTags" 
                    ng-disabled="status.savingTags">Save</span><i ng-show="status.savingTags" 
                    class="fa fa-refresh fa-spin" style="margin-left:6px;"></i></button>
                
                <button class="btn btn-sm panel-button"
                    ng-click="cancelTags();" ng-show="status.editingTags" 
                    ng-disabled="status.savingTags"><span class="glyphicon glyphicon-remove" style="line-height: 1.3em;"></span></button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="pull-right" ng-show="status.editingTags" ng-disabled="!data.tagsData.acknowledgeTags && data.tagsData.tags && data.tagsData.tags.length != 0">
            <div ng-dropdown-multiselect="" 
                    options="tagDropdown.options" 
                    selected-model="tagDropdown.selected" 
                    events="tagDropdown.events"
                    extra-settings="tagDropdown.settings"></div>
        </div>

        <div class="panel panel-default" ng-if="!data.tagsData.acknowledgeTags && data.tagsData.tags && data.tagsData.tags.length != 0">
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <span class="sr-only">Warning:</span>
                Tag Alert
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="checkbox" name="acknowledgeTags" ng-model="data.tagsData.acknowledgeTags"></input>
                    <label>Click to acknowledge review of tags</label>
                </div>
            </div>
        </div>
        
        <div ng-show="data.tagsData.tags && data.tagsData.tags.length != 0" ng-disabled="!data.tagsData.acknowledgeTags && data.tagsData.tags && data.tagsData.tags.length != 0">
            <span ng-repeat="tag in data.tagsData.tags">
                <span class="label label-primary label-large">{{tag}}</span>
            </span>
        </div>
        <div ng-show="!data.tagsData.tags || data.tagsData.tags.length == 0">
            <i>No tags set</i>
        </div>
    </div>
</div>
